<div class="user-input-form">
  <form [formGroup]="simulationForm" (ngSubmit)="simulateGames()" class="container mt-4">
    <div class="form-group">
      <label for="simulationCount" class="form-label">Number of Games:</label>
      <input
        type="number"
        id="simulationCount"
        formControlName="simulationCount"
        placeholder="Enter simulation count"
        class="form-control"
      />
      <div *ngIf="simulationForm.controls['simulationCount'].hasError('required')" class="text-danger">
        Number of games required!
      </div>
      <div *ngIf="simulationForm.controls['simulationCount'].hasError('pattern')" class="text-danger">
        Please enter a valid whole number greater than 0.
      </div>
    </div>

    <div class="form-group">
      <label>Switch Door:</label>
      <label class="switch">
        <input type="checkbox" formControlName="switchDoor"/>
        <span class="slider round"></span>
      </label>
    </div>

    <button type="submit" [disabled]="simulationForm.invalid || loading" class="btn btn-outline-light">
      <span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i> Loading...</span>
      <span *ngIf="!loading">Start Simulation</span>
    </button>
    <button type="cancel" class="btn btn-outline-danger" (click)="clearSimulation()" style="margin-left: 15px;">Clear Simulation</button>
  </form>
</div>

<!--
<div class="row">
  <div *ngIf="simulationOutput">
    <app-percentage-bar [simulationOutput]="simulationOutput" [title]="titleWin" [displayType]="false"></app-percentage-bar>
  </div>
  <div *ngIf="simulationOutput">
    <app-percentage-bar [simulationOutput]="simulationOutput" [title]="titleLoss" [displayType]="true"></app-percentage-bar>
  </div>
</div>
-->

<div class="chart-container" *ngIf="simulationOutput">
  <h3>Simulation Results</h3>
  <p>{{ description }}</p>
  <app-bar-chart [simulationOutput]="simulationOutput"></app-bar-chart>
</div>


